
$f-futura: 'Futura';
$f-disp-b: 'NeutraDisp-Bold';
$f-text: 'Neutraface2Text';
$f-text-book: 'Neutraface2Text-Book';

$c-green: #7ECDC1;
$c-black: #232C33;
$c-blue: #00BEEA;
$c-dark-blue: #33424D;
$c-grey: #DFDFDF;
$c-dark-grey: #6A6A6A;



@import "reset";
@import "mixins";
@import "fonts";
@import "base";
@import "header";
@import "main";
@import "footer";
@import "media";

